
@media screen {
	body {
		font-family: "Times New Roman", serif;
		margin-left:   10%;
		margin-right:  10%;
		margin-top:    10%;
		margin-bottom: 10%;
	}
	code {
		font-family: "Lucida Console", monospace;
		color: inherit;
	}
}

@media print {
	body {
		font-family: "Times New Roman", serif;
		font-size:   10pt;
		line-height: 14pt;
		color:       black;
	}
	code {
		font-family: "Lucida Console", monospace;
		font-size: 9pt;
	}
}

h1, h2, h3, h4, h5 {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	page-break-inside: avoid;
}

th, td {
	border-color: #CCC;
	border-style: solid;
	border-width: 1pt;
	padding: 0.5em;
	font-size: 100%;
}
