a:link    { color:#0000FF; text-decoration: none; }
a:visited { color:#2200DD; text-decoration: none; }
a:hover   { color:#AA0000; text-decoration: underline; }
a:active  { color:#FF0000; text-decoration: underline; }

body {
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #444;
  margin: 0;
}

code {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 15px;
  color: #999;
}

pre {
  margin-left: 2em;
  line-height: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

table {
  font: inherit
}

svg {
  margin: 0em 1em;
  vertical-align: top;
}

h1.header {
  margin: 0;
  padding: 0.5em;
  padding-top: 1em;
  background-color: #EEE;
}

p.signature {
  text-align: right;
}

/* Lists of items each with a picture and text */

div.all {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}

div.item img {
  float: right;
  max-height: 20ex;
  margin-left: 16px;
  margin-bottom: 16px;
  max-width: 50%;
}

div.item h2 {
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
}

div.all hr {
  display: block;
  height: 1px; 
  border: 0;
  border-top: 1px solid #EEE;
  margin: 16px auto;
  padding: 0;
  clear: both;
}

/* Let the glamour shot grow a little larger */

img#kooima {
  max-height: 30ex;
}

/* Navigation table */

#nav {
  text-align: center;
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 16px;
}

#nav li {
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
}

#nav li:not(:first-child) {
  border-left: 1px solid #EEE;
}

#nav li:not(:last-child) {
  border-right: 1px solid #EEE;
}

#nav h3 {
  margin: 0px;
  padding: 0.5em;
}

/* Calender table */

table.calendar {
  margin-left: auto;
  margin-right: auto;
}

td.lec {
  width: 8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  background: #CFC;
}

td.fin {
  width: 8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  background: #FFC;
}

td.hol {
  width: 8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  color: #FFF;
  background: #FCC;
}

td.off {
  width: 8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  color: #FFF;
  background: #DDD;
}
