/*---------------------------------------------------------------------------*/

a:link    { color:#0000FF; text-decoration: none; }
a:visited { color:#2200AA; text-decoration: none; }
a:hover   { color:#AA0000; text-decoration: underline; }
a:active  { color:#FF0000; text-decoration: underline; }

body {
    margin-left:   10%;
    margin-right:  10%;
    margin-top:    5em;
    margin-bottom: 5em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

code {
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: #888;
}

table {
    font-size: small;
}

h1 {
    clear: both;
    margin-top:    0px;
    margin-bottom: 4px;
    margin-left:   0px;
    margin-right:  0px;
    padding: 0.5em;
    background-color: #EEF;
}

hr {
    clear: both;
    border-style: none;
}

p {
    text-align: justify;
}

/*---------------------------------------------------------------------------*/
/* Lists of items each with a picture and text                               */

div.item {
    clear: both;
}

div.pic {
    float: left;
    width: 320px;
    margin-bottom: 2em;
}

div.txt {
    margin-left: 336px;
}

div.txt h2 {
    margin:  0px;
    padding: 0.5em;
    background-color: #EEF;
}

div.txt h3 {
    margin:  0px;
    padding: 0.5em;
    background-color: #EEF;
}

div.txt h4 {
    margin:  0px;
}

/*---------------------------------------------------------------------------*/
/* Navigation table                                                          */

#nav {
    clear: both;
    width: 100%;
    margin-bottom: 2em;
    background-color: #EEF;
    border-collapse: collapse;
    border-style:    hidden;
}

#nav td {
    text-align: center;
    width: 13%;
    border: 4px solid white;
}

#nav h3 {
    margin:  0px;
    padding: 0.5em;
}

/*---------------------------------------------------------------------------*/
/* Calender table                                                            */

table.calendar {
  margin-left:  auto;
  margin-right: auto;
}

td.lec {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  background: #CFC;
}

td.fin {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  background: #FFC;
}

td.hol {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  color:      #FFF;
  background: #FCC;
}

td.off {
  width:  8em;
  height: 8em;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  vertical-align: top;
  color:      #FFF;
  background: #DDD;
}

/*---------------------------------------------------------------------------*/
/* Diagram table                                                             */

td.box {
    width:        2.00em;
    height:       2.00em;
    border:       1.00px;
    border-color: #CCC;
    border-style: solid;
    text-align:   center;
}

td.sqr {
    width:        2.00em;
    height:       2.00em;
    text-align:   center;
}

/*---------------------------------------------------------------------------*/
/* API definitions and source listings                                       */

dt.decl {
    font-style: italic;
    color:      #888;
}

ol.src {
    list-style: none;
    font-style: italic;
    color:      #888;
}

/*---------------------------------------------------------------------------*/

img.centered {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

/*---------------------------------------------------------------------------*/
