/* These allow the content to fill the viewport. */

html, body {
	height:  100%;
	padding: 0;
	margin:  0;
	width: 1024px;
}

/*
html { border: 1px dotted red;   }
body { border: 1px dotted green; }
*/

/* A viewport-filling table and a middle-aligned cell enable centering. */

div.slide {
	display: table;
	height: 100%;
	width: 100%;
}

div.cell {
	display: table-cell;
	vertical-align: middle;
}

div.text {
	margin: 0 auto;
	width: 90%;
}

/* General-use classes */

.center {
	margin: 0 auto;
}

.right {
	text-align: right;
}

.small {
	font-size: 70%;
}

.tiny {
	font-size: 50%;
}

.variable {
	font-family: "Consolas", "Inconsolata", monospace;
	font-size: 28px;
	width:      3em;
}

img {
	display: block;
}

/* Header styles */

h1, h2, h3, h4, h5 {
	font-size: 100%;
}

/* Text formatting */

body {
	font-family: "Times", "Times New Roman", serif;
	font-size:   32px;
	line-height: 48px;
 	color:       #444;
}

@media screen {
	body {
	 	background: radial-gradient(circle, #FFF 70%, #DDD);
	 	background-attachment: fixed;
	}
}

/* Code formatting */

code {
	font-family: "Consolas", "Inconsolata", monospace;
	font-size:   28px;
	line-height: 32px;
	color:       #888;
}

ul.listing {
	font-family: "Consolas", "Inconsolata", monospace;
	font-size:   24px;
	line-height: 28px;
	color:       #888;
	list-style-type: none;
}

/* Footnotes */

p.note {
	font-size: 70%;
	color: #888;
}

/* Table styling */

table {
	border-collapse: collapse;
	line-height:     1.5em;
}

table.data td {
	text-align: right;
}

table.short {
	line-height: 1.1em;
}

table.veryshort {
	line-height: 1.0em;
}

table.data th {
	border-bottom: 1px solid #444;
}

th.index, td.index {
	border-right: 1px solid #444;
}

table.small th, table.small td {
	padding-left:  0.5em;
	padding-right: 0.5em;
}

table.tiny th, table.tiny td {
	padding-left:  0.5em;
	padding-right: 0.5em;
}

td.pad {
	width:2em;
}

/* Demo canvas */

canvas.clip {
	background: url(img/clip-grid.svg);
}

canvas.persp {
	background: url(img/persp-grid.svg);
}

input[type='range'] {
	width: 200px;
	height: 8px;
	vertical-align: middle;
}

/* Navigation styles. */

@media screen {

	a#prev {
		position: fixed;
		left:  20px;
		bottom: 5px;
	}

	a#next {
		position: fixed;
		right: 20px;
		bottom: 5px;
	}

	a#prev::before {
		content: '\2039';
	}

	a#next::after {
		content: '\203A';
	}
}

/* Link styles */

a:link    { color:#0000FF; text-decoration: none; }
a:visited { color:#2200DD; text-decoration: none; }
a:hover   { color:#AA0000; text-decoration: underline; }
a:active  { color:#FF0000; text-decoration: underline; }

