
/* Text formatting */

@media screen {
	body {
		font-family: "Times", "Times New Roman", serif;
		font-size:   32px;
		line-height: 48px;
	 	color:       #444;
		margin:      2em;
		background: radial-gradient(circle, #FFF 70%, #DDD);
	 	background-attachment: fixed;
	}
}

@media print {
	body {
		font-family: "Times", "Times New Roman", serif;
		font-size:   16pt;
		line-height: 24pt;
	 	color:       #000;
		margin:      0em;
	}
	section {
		page-break-after: always;
	}
}

/* General-use classes */

.center {
	font-size: inherit;
	margin: 0 auto;
}

.middle {
	vertical-align: middle;
}

.right {
	text-align: right;
}

.small {
	font-size: 70%;
}

.tiny {
	font-size: 50%;
}

.third {
	width: 33%;
}

.half {
	width: 50%;
}

img {
	display: block;
	max-width: 100%;
}

figcaption {
	text-align: center;
	font-size: 70%;
	color: #888;
}

/* Displayed content. */

div.displayed {
	text-align: center;
}

div.displayed table {
	display: inline-table;
	vertical-align: top;
	margin-top:    0;
	margin-bottom: 0;
}

div.displayed img {
	display: inline-block;
	vertical-align: top;
	margin-top:    0;
	margin-bottom: 0;
}

div.displayed figure {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-top:    0;
	margin-bottom: 0;
}

div.displayed canvas {
	display: inline-block;
	vertical-align: middle;
	margin-top:    0;
	margin-bottom: 0;
}

div.displayed form {
	display: inline-block;
	vertical-align: middle;
}

figure p:first-child {
	margin-top: 0;
}

/* Header styles */

h1, h2, h3, h4, h5 {
	font-size: 100%;
}

/* Code formatting */

code {
	font-family: "Consolas", "Inconsolata", monospace;
	font-size:   88%;
	color:       #888;
}

figure.code {
	font-family: "Consolas", "Inconsolata", monospace;
	font-size:   88%;
	margin-left: 2em;
	text-align:  left;
	white-space: nowrap;
	color:       #888;
}

/* Pseudocode formatting. The inline-block span allows width styling. */

figure.pseudocode {
	margin-left: 2em;
	white-space: nowrap;
}

figure.pseudocode span {
	display: inline-block;
}

/* Footnotes */

p.note {
	font-size: 70%;
	color: #888;
}

/* Table styling */

table {
	border-collapse: collapse;
	line-height:     1.5em;
}

table.data td {
	text-align: right;
}

table.short {
	line-height: 1.1em;
}

table.veryshort {
	line-height: 1.0em;
}

table.data th {
	border-bottom: 1px solid #444;
}

th.index, td.index {
	border-right: 1px solid #444;
}

table.small th, table.small td {
	padding-left:  0.5em;
	padding-right: 0.5em;
}

table.tiny th, table.tiny td {
	padding-left:  0.5em;
	padding-right: 0.5em;
}

/* Demo canvas */

canvas.clip {
	background: url(img/clip-grid.svg);
	background-size: cover;
	width:  8em;
	height: 8em;
}

canvas.persp {
	background: url(img/persp-grid.svg);
	background-size: cover;
	width:  8em;
	height: 8em;
}

canvas.outlined {
	width:  600px;
	height: 300px;
	border: 1px solid black;
}

input[type='range'] {
	width: 200px;
	height: 8px;
	vertical-align: middle;
}

span.value {
	display: inline-block;
	text-align: right;
	width: 2em;
}

/* Navigation styles. */

nav {
	position: fixed;
	right: 20px;
	bottom: 5px;
}

@media screen {
	a#prev, a#home, a#next {
		font-size: 64px;
		text-decoration: none;
	}

	a#prev::after {
		content: '\2039';
		margin-left: 16px;
		margin-right: 16px;
	}

	a#home::after {
		content: '\2302';
		margin-left: 16px;
		margin-right: 16px;
	}

	a#next::after {
		content: '\203A';
		margin-left: 16px;
		margin-right: 16px;
	}
}

/* Link styles */

a:link    { color:#444; text-decoration: underline; }
a:visited { color:#444; text-decoration: underline; }
a:hover   { color:#A44; text-decoration: underline; }
a:active  { color:#F44; text-decoration: underline; }

a[href ^= "http"]:link::after {
	content: '\279A';
}
